
.footer {
    margin: 0;
    padding: 0; 
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    position: fixed; /* 고정 */
    bottom: 0; /* 화면 하단에 위치 */
    left: 0;
    width: 100%; /* 전체 너비 */
    z-index: 1000; /* 다른 요소 위에 위치 */
  }